html {
  scroll-behavior: smooth;
  }

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.hyperlink-styled:hover {
    font-weight: bold;
    text-decoration: none!important;
  }

.email-link-custom:hover {
    text-decoration: none!important;
  }

/* Creates rounded top of element */
.border-radius-top-rounded {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  }

/* Creates flat bottom of element */
.border-radius-bottom-flat {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Creates flat top of element */
.border-radius-top-flat {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  }

/* Creates rounded bottom of element */
.border-radius-bottom-rounded {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.custom-blue-bg {
  background-color: #e3f2fd;
}

.element-standard-mg-bottom {
  margin-bottom: 50px;
}

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e3f2fd; /* Set a background color */
  color: black; /* Text color */
  font-weight: 700;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  opacity: 0.7;
 }

#jumbotron-image {
   background-image: url("https://images.unsplash.com/photo-1451226428352-cf66bf8a0317?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80");
   background-repeat: no-repeat;
   /* background-position: center; */
   background-size: cover;
 }