html {
  scroll-behavior: smooth; }

.navbar {
  border-bottom: #008ed6 3px solid;
  background-color: #333;
  opacity: 0.8; }

#home-section {
  background-image: url("../imgs/home-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 500px;
  margin-bottom: 8vh; }
  #home-section .dark-overlay {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.3); }
  #home-section .home-inner {
    padding-top: 100px; }
  #home-section a:hover {
    border: 1px #e3f2fd solid;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e3f2fd; }

#landing-bg {
  background-image: url("/static/imgs/landing-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.9;
  overflow: hidden; }

#landing-area {
  position: relative;
  top: 25vh; }
  #landing-area #landing-subtitle {
    margin-bottom: 50px; }
  #landing-area a:hover {
    border: 1px #008ed6 solid;
    background-color: transparent;
    color: #008ed6; }

#contact a:hover {
  border: 1px #008ed6 solid;
  background-color: transparent;
  color: #008ed6; }

button[type=submit]:hover {
  border: 1px #008ed6 solid;
  background-color: transparent;
  color: #008ed6; }

.img-resized-custom {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.hyperlink-styled:hover {
  font-weight: bold;
  text-decoration: none !important; }

.email-link-custom:hover {
  text-decoration: none !important; }

/* Creates rounded top of element */
.border-radius-top-rounded {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important; }

/* Creates rounded bottom of element */
.border-radius-bottom-rounded {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important; }

/* Creates flat bottom of element */
.border-radius-bottom-flat {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important; }

/* Creates flat top of element */
.border-radius-top-flat {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

.mb-custom {
  margin-bottom: 100px; }

#backToTopBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #e3f2fd;
  /* Set a background color */
  color: black;
  /* Text color */
  font-weight: 700;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 14px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  opacity: 0.7; }

#map {
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
  height: 100%;
  width: 100%; }

#btn-cv {
  margin-left: 5px !important;
  margin-right: 5px !important; }

/* Media queries */
@media (max-width: 768px) {
  #home-section .home-inner {
    padding-top: 40px; } }
