body {
  background-image: url("/static/imgs/success-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.9;
  overflow: hidden; }

#success-card {
  margin-top: 15vh !important; }
  #success-card #btn-return {
    width: 6.5rem !important;
    align-self: center; }
  #success-card #btn-return:hover {
    border: 1px #008ed6 solid;
    background-color: transparent;
    color: #008ed6; }
