// Custom variable colours for use directly in this file.
$primary: #008ed6; // Same as modified primary colour in bootstrap SCSS file

body {
    background-image: url("../imgs/success-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    opacity: 0.9;
    overflow: hidden;
  }


#success-card {
  margin-top: 15vh!important;

  #btn-return {
    width: 6.5rem!important;
    align-self: center;
  }

  #btn-return:hover {
    border: 1px $primary solid;
    background-color: transparent;
    color: $primary;
  }
}